:root {
  --color-bg: white;
  --color-bg2: #999;
  --color-text: black;
  --color-accent1: #d6a444;
  --color-accent2: #c1c730;
  --color-accent3: #2b53a7;
  --color-accent4: #a71313;
  --image-bg: url(../img/interior.jpeg);
  --transition-duration: 0.3s;
  --transition-timing: ease;
  --width: 80vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: var(--image-bg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  transition: background-image var(--transition-duration) var(--transition-timing);
}

@font-face {
  font-family: startrek;
  src: url(../fonts/TKCLSCR2.TTF);
}

@font-face {
  font-family: federation;
  src: url(../fonts/Final_Frontier.ttf);
}

header {
  width: 100vw;
  background-color: var(--color-bg);
  height: 14vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing);
  border-top: 4px solid var(--color-accent3);
}

header > #color_mode {
  font-size: 50px;
  font-weight: bold;
  color: var(--color-text);
  cursor: pointer;
  user-select: none;
  scale: .7;
  transition: scale var(--transition-duration) var(--transition-timing);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

header > #color_mode > img {
  height: 100%;
  padding: 1%;
}

header > #color_mode:hover {
  scale: .8;
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}

header > nav a {
  font-family: startrek;
  text-transform: UPPERCASE;
  color: var(--color-text);
  transition: color var(--transition-duration) var(--transition-timing);
}

header > nav a:hover {
  cursor: pointer;
  color: var(--color-accent1);
}

#intro {
  height: 100vh;
}

#intro > #intro_container {
  height: 100%;
  text-align: center;
  width: var(--width);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro > #intro_container > h1 {
  font-family: startrek;
  font-size: 70px;
  text-transform: UPPERCASE;
  color: white;
  text-shadow: 0 0 4px black;
}

#intro > #intro_container > p {
  font-family: federation;
  color: white;
  text-shadow: 0 0 4px black;
}

#intro > #intro_container a {
  font-family: startrek;
  text-transform: lowercase;
  color: white;
  text-shadow: 0 0 4px black;
  transition: color var(--transition-duration) var(--transition-timing);
  font-size: 20px;
  margin-top: 10px;
}

#intro > #intro_container a:hover {
  cursor: pointer;
  color: var(--color-accent1);
}

main {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color var(--transition-duration) var(--transition-timing);
}

main > #explore {
  height: 70vh;
  padding: 40px;
  width: var(--width);
  margin: auto;
}

main > #explore > h2 {
  font-family: startrek;
  font-size: 40px;
  text-transform: UPPERCASE;
  color: var(--color-text);
  margin-bottom: 10px;
  transition: color var(--transition-duration) var(--transition-timing);
}

main > #explore > a {
  height: 40%;
  width: 100%;
  margin: auto;
}

main > #explore > a > div {
  height: 40%;
  width: 100%;
  margin: 0 auto 20px auto;
  color: var(--color-text);
  font-family: federation;
  background-color: var(--color-accent2);
  padding: 10px;
  transition: color var(--transition-duration) var(--transition-timing);
}