:root {
  --color-bg: white;
  --color-bg2: #999;
  --color-text: black;
  --color-accent1: #d6a444;
  --color-accent2: #c1c730;
  --color-accent3: #2b53a7;
  --color-accent4: #a71313;
  --transition-duration: 0.3s;
  --transition-timing: ease;
  --width: 70vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
  background-image: url(../img/bg.jpg);
}

@font-face {
  font-family: startrek;
  src: url(../fonts/TKCLSCR2.TTF);
}

@font-face {
  font-family: federation;
  src: url(../fonts/Final_Frontier.ttf);
}

header {
  width: 100vw;
  background-color: var(--color-bg);
  height: 14vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header > img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1%;
} */

header > #color_mode {
  font-size: 50px;
  font-weight: bold;
  color: var(--color-text);
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing);
  user-select: none;
}

header > #color_mode:hover {
  color: var(--color-accent1);
}

header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}

header > nav a {
  font-family: startrek;
  text-transform: UPPERCASE;
  color: var(--color-text);
  transition: color var(--transition-duration) var(--transition-timing);
}

header > nav a:hover {
  cursor: pointer;
  color: var(--color-accent1);
}

#intro {
  height: 90vh;
  text-align: center;
  width: var(--width);
  margin: auto;
}

#intro > h1 {
  font-family: startrek;
  font-size: 60px;
  text-transform: UPPERCASE;
  color: white;
  text-shadow: 0 0 2px black;
}

#intro > p {
  font-family: federation;
  color: white;
  text-shadow: 0 0 2px black;
}

#intro a {
  font-family: startrek;
  text-transform: lowercase;
  color: white;
  text-shadow: 0 0 2px black;
  transition: color var(--transition-duration) var(--transition-timing);
}

#intro a:hover {
  cursor: pointer;
  color: var(--color-accent1);
}

main {
  background-color: var(--color-bg);
  color: var(--color-text);
}

main {
  background-color: var(--color-bg);
  color: var(--color-text);
}
